*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#logo{
    margin: 23px 36px;
}
#logo img{
    height: 60px;
    width: 80px;
    border-radius: 50%;
}
#navbar{
    display: flex;
}
#navbar ul{
    margin: 44px 0px;
    display: inline-flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 20%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;

}
#navbar ul li{
    list-style: none;
    font-size: 20px;
}
#navbar ul li a{
    text-decoration: none;
    padding: 10px 17px;
    border-radius: 8px;
    color: white;
}
#navbar ul li a:hover{
    background-color: rgb(191, 214, 214);
    color: rgb(82, 56, 56);
    
    
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 160px 0px;
}
#home::before{
    margin: 0px 0px;
    content: "";
    background:url('images/pizza2.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height:50%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;

}
.primarytext{
 
    color: beige;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 25px;
}
.btn{
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid red;
    font-size: 20px;
    background-color: rgb(252, 225, 234);
    padding: 10px 14px;
}
#services{
    margin-top: 30px;
    display: flex;
}
#services .box{
    border: 2px solid fuchsia;
}
#services img{
height: 160px;
}
#services .center-class {
    display: block;
    text-align: center;
    margin:auto;
}
    